<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpPlatform processPath="&quot;C:\Users\ekkam\AppData\Local\Microsoft\WindowsApps\python.exe&quot;" arguments="H:\post_doc\DRF_REST_API\gfg_shopping\manage.py runserver %HTTP_PLATFORM_PORT%" stdoutLogEnabled="false" stdoutLogFile="">
            <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
        <handlers>
            <add name="MyPyHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="H:\post_doc\DRF_REST_API\gfg_shopping" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="DJANGO_SETTINGS_MODULE" value="H:\post_doc\DRF_REST_API\gfg_shopping\gfg_shopping" />
    </appSettings>
</configuration>
